---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/style.css';

---
<MainLayout title="About">
	<div class="about">
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti suscipit quis quia alias! Voluptate modi cupiditate nisi vitae, rerum aliquam architecto aspernatur laborum deserunt suscipit similique alias, repudiandae reiciendis at!</p>   
        </div>
        <div>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit iusto necessitatibus debitis illo expedita, aliquid, in dicta alias itaque sapiente unde magnam nulla? Dolore consectetur dolores non facilis, voluptates maiores.
            Blanditiis harum repellendus iste animi, porro repellat deleniti vitae nostrum? Atque labore quos in fuga voluptatem sapiente, distinctio et ipsa delectus iste fugiat error perferendis, eos ratione saepe aperiam ex.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illo, repudiandae iure natus hic molestias?</p>
        </div>
    </div>
</MainLayout>