---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/exercici2.css"

---
<MainLayout title="Exercici2">


    <div class="portada">
        <div class="cancion">
            <img src="../../assets/img.jpeg" alt="">
            <audio src="../../assets/NF_-_Just_Like_You.mp3" controls></audio>            
        </div>
        <div class="cancion">
            <img src="../../assets/img.jpeg" alt="">
            <audio src="../../assets/NF_-_Prideful.mp3" controls></audio>
        </div>
        <div class="cancion">
            <img src="../../assets/img.jpeg" alt="">
            <audio src="../../assets/NF_-_Thats_A_Joke.mp3" controls></audio>
        </div>
        <div class="cancion">
            <img src="../../assets/img.jpeg" alt="">
            <audio src="../../assets/NF_ft_Hopsin_-_Lost.mp3" controls></audio>
        </div>

    </div>

</MainLayout>