---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/exercici3.css"
---
<MainLayout title="Exercici3">
    

        <div class="vid">
            <video  onmouseover="this.play();" onmouseout="this.pause();"  controls autoplay loop>
               <source src="../../assets/video.mp4" type="video/mp4"> 
            </video>
        </div>
    



</MainLayout>