---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/style.css';

---
<MainLayout title="Help">
	<div>
        <h1>Llamando al 112..</h1>
    </div>
</MainLayout>