---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/style.css';

---

<MainLayout title="Index">
	<div class="container">
        <a href="exercicis">
            <h2>Exercicis</h2>
        </a>
        <a href="exercici1">
            <h2>Exercici 1</h2>
            <img src="../../assets/photoshop.png" alt="">
        </a>
        <a href="exercici2">
            <h2>Exercici 2</h2>
            <img src="../../assets/audio-wave.jpg" alt="">    
        </a>
        <a href="exercici3">
            <h2>Exercici 3</h2>
            <img src="../../assets/premiere.jpg" alt="">
        </a>
        <a href="">
            <h2>Exercici 4</h2>
            <img src="../../assets/afterefects.jpg" alt="">
        </a>
        <a href="projecte">
            <h2>Projecte</h2>
        </a>
    </div>
</MainLayout>
