---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/style.css';

---
<MainLayout title="Projecte">
	<div>
        <h1>Projecte en contruccio</h1>
    </div>
</MainLayout>